html,
body {
    margin: 0px;
    background-color: #2F4F30;
    color: white;
    height: 100vh;
}

.titulo {
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
    font-size: 20px;
}

.carta {
    position: relative;
    width: 150px;
    left: 100px;
    margin-left: -75px;
}

#Computadora-cartas,
#jugador-cartas {
    height: 220px;
}
.row{
    margin-right: 0;
}

#divBotones{
    width: 100vh;
}
